<!DOCTYPE html>
<html>
	<head>
		<title>Layout</title>
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<section class="fondo">
			<img src="img/logo.png">
			<hr class="linea">
			<ul>
				<li class="menu"><span class="sep"><a href="a">Inicio</a></span></li>
				<li class="menu"><span class="sep"><a href="a">Sobre nosotras</a></span></li>
				<li class="menu"><span class="sep"><a href="a"> Nuestras coders</a></span></li>
				<li class="menu1"><a href="a">Contacto&nbsp &nbsp &nbsp</a></li>
			</ul>
			<hr class="linea">
			<div>
				<img src="img/grupal.jpg" height="400px" width="600px">
			</div>
			<hr class="linea2">
			<p class="frase">Laboratoria existe para encontrar jovenes mujeres con potencial pero sin acceso a educacion superior de calidad, y transformarlas en talentosas desarrolladoras web, que sirven clientes locales e internacionales con soluciones digitales de excelente calidad</p>
			<hr class="linea2">
			<h2 class="separado">Nuestras coders</h2>
			<hr class="linea3">
			<section class="arriba">
				<div class="foto">
					<a href="coder-detail.html">
						<img src="img/profile-1.png">
						<p class="nombre">Nombre y apellido</p>
					</div>
					<div class="foto">
						<a href="coder-detail.html">
							<img src="img/profile-2.png">
							<p class="nombre">Nombre y apellido</p>
						</div>
						<div class="foto">
							<a href="coder-detail.html">
								<img src="img/profile-3.png">
								<p class="nombre">Nombre y apellido</p>
							</div>
						</section>
						<section class="abajo">
							<div class="foto">
								<a href="coder-detail.html">
									<img src="img/profile-4.png">
									<p class="nombre">Nombre y apellido</p>
								</div>
								<div class="foto">
									<a href="coder-detail.html">
										<img src="img/profile-5.png">
										<p class="nombre">Nombre y apellido</p>
									</div>
									<div class="foto">
										<a href="coder-detail.html">
											<img src="img/profile-6.png">
											<p class="nombre">Nombre y apellido</p>
										</div>
									</section>
								</div>
							</section>
						</body>
					</html>